@using MVCMusicStore2019.ViewModels
@model IEnumerable<MVCMusicStore2019.ViewModels.ArtistDisplayViewModel>
@{
    ViewBag.Title = "音乐艺术家页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>系统管理员 @ViewBag.Title 管理页面</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        @ViewBag.Title 列表
    </div>
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>

        </tr>
        @using (Ajax.BeginForm("Index", new AjaxOptions()))
        {
            if (Model.Count() == 0 || Model == null)
            {
                <tr><td colspan="3" class="text-center">没有艺术家数据</td></tr>
            }
            foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.ID)
                    <th>@item.OrderNumber</th>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                       
                            @Html.ActionLink("编辑", "CreateOrEdit", new { ID = item.ID }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("删除", "Delete", new { ID = item.ID }, new { @class = "btn btn-danger" })
                        
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("新建", "CreateOrEdit", null, new { @class = "btn btn-primary" })
@Html.ActionLink("取消", "Index", "Home", null, new { @class = "btn btn-default" })